@import '@fortawesome/fontawesome-free/css/all.min.css';
body{padding-top:60px;
  padding-bottom: 0px;
}
/*.App {
  text-align: center;
}

a {
  color: white;
  text-decoration: none;
}

.btn {
  background-color: #4db5ff;
  padding: 10px 20px;
  border-radius: 5px;
  color: #fff;
  text-transform: uppercase;
}

section {
  padding: 100px 0;
} */
